header{
    font-family:"Roboto", sans-serif;
    background-color: #1F2937;
    padding: 0 64px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header .header-logo{
    color:#F9FAF8;
    font-size:24px;
    font-weight: 900;
}

header .header-links{
    color:#E5E7EB;
    font-size: 18px;
}

header ul{
    display:flex;
    list-style-type: none;
    gap: 18px;
}

.hero{
    display:flex;
    font-family:"Roboto", sans-serif;
    background: #1F2937;
    padding: 64px;
}

.hero-left{
    flex:1;
}

.hero-image{
    flex:1;
    background: grey;
    color:#E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .hero-title{
    font-size: 48px;
    color: #F9FAF8;
    weight: 900;
}

.hero .hero-text{
    color:#E5E7EB;
    font-size: 18px;
}

.hero button{
    background: #3882F6;
    color: #F9FAF8;
    border: none;
    box-shadow: none;
    border-radius: 4px;
    padding:4px;
}

.second-section{
    font-family: "Roboto", sans-serif;
    color: lightslategrey;
    text-align:center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-title{
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    color: #1F2937;
    weight: 900;
}

.second-all-items{
    display:flex
}

.second-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-rectangle{
    width:120px;
    height: 120px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.third-section{
    font-family: "Roboto", sans-serif;
    background-color: #E5E7EB;
    font: 600 36px;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 64px;
}

p{
    margin:0;
}

.quote-author{
    display:flex;
    align-self: flex-end;
    font-weight: 900;
}

.fourth-section{
    background-color: #3882F6;
    margin: 36px;
    padding: 12px;
    color:#F9FAF8;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fourth-text{
    display:flex;
    flex-direction:column;
}

h1{
    margin:0;
    font-size: 12px;
}

.fourth-text p{
    font-size: 8px;
    font-weight: 200;
}

.fourth-button{
    display: flex;
    justify-content: center;
    flex:1;
}

.fourth-button button{
    background: #3882F6;
    color: #F9FAF8;
    border: solid #F9FAF8 1px;
    box-shadow: none;
    border-radius: 4px;
    padding:4px;
}

footer{
    font-family:"Roboto", sans-serif;
    background-color: #1F2937;
    color:#E5E7EB;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}